<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gameopolis</title>

  <link rel="stylesheet" href="../styles/template.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
  <link rel="stylesheet" href="./styles/about.css" />
</head>

<body>
  <header>
    <div class="title" onclick="returnHome()">Gameopolis</div>
    <nav class="actions">
      <a href="/">Home</a>
      <a href="upload">Upload</a>
      <a href="about" class="selected">About</a>
    </nav>
  </header>
  <main>
    <h3>Gameopolis is a must visit place for all the gamers who are looking to buy a new game to play.<br>You can find reviews of variety of games here.<br>Find a missing game? You can write a review on your own!</h3>
  </main>
  <script src="./scripts/returnHome.js"></script>
</body>

</html>