<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gameopolis</title>

  <link rel="stylesheet" href="../styles/template.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
</head>

<body>
  <header>
    <div class="title">Gameopolis</div>
    <nav class="actions">
      <a href="/public/index.html">Home</a>
      <a href="/public/views/upload.html" class="selected">Upload</a>
      <a href="/public/views/about.html">About</a>
    </nav>
  </header>
</body>

</html>