.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-image {
    height: 450px;
    width: 450px;

    object-fit: contain;
}

.title {
    cursor: default;
}

.description {
    font-size: 16px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: default;
}

.edit-btn {
    margin-top: 25px;

    padding: 10px 30px;

    border-radius: 5px;
    background-color: rgb(20, 50, 95);
    color: rgb(245, 245, 245);

    cursor: pointer;
    transition: 150ms;
}

.edit-btn:hover {
    background-color: rgb(5, 88, 230);
}