.games-collection {
    display: flex;
    flex-wrap: wrap;
}

.game {
    height: 350px;
    width: 16.5vw;
    display: grid;
    background-color: transparent;

    position: relative;

    overflow: hidden;

    cursor: pointer;
}

.game>* {
    grid-area: 1/1;
}

.game-cover {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.game-name {
    align-self: end;
    color: white;

    padding: 10px 10px;
    text-align: center;

    transform: translateY(100px);

    background-color: rgba(0, 0, 0, 0.6);

    transition: 250ms;

    font-size: 16px;
}

.game:hover .game-name {
    transform: translateY(0px);
}