header {
    width: 100vw;

    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: rgb(245, 245, 245);
    font-size: 32px;
    font-style: italic;
    font-weight: 800;

    letter-spacing: 2px;

    text-shadow: -0.15em 0 1px rgba(255, 0, 0, 0.67), 0.15em 0 1px rgba(0, 255, 255, 0.67);

    margin: 10px 50px;
}

.actions {
    display: flex;
    flex-direction: row;
}

.actions a {
    padding: 20px 40px;

    background-color: rgb(0, 94, 255);

    color: rgb(245, 245, 245);
    text-decoration: none;

    transition: 100ms;
}

.actions a:hover {
    background-color: rgb(5, 49, 124);
}